{% extends "template.html.twig" %}

{% block title %}
    <h1>Session</h1>
{% endblock %}

{% block body %}

    <p>Bonjour , vous avez visité : {{app.Session.get("nbreVisite")}};
    </p>
    
{% endblock %}