{% extends "template.html.twig" %}

{% block title %}
    <h1>Form</h1>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.name) }}</div>
        <div class="col"> {{ form_row(form.firstname) }} </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}